<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pletra training
    </ion-title>
    <ion-buttons end>
      <img *ngIf="isAdmin==false" src="assets/imgs/ptLogo.jpg" width=100>
      <button *ngIf="isAdmin" ion-button (click)="addTraining()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>	
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">
  <h2>{{filter}}</h2>
  <ion-list *ngIf="Workshop">
    <h4>Salesforce workshop</h4>
    <ion-item *ngFor="let workshop of workshopData" (click)="goToDetail(workshop.id)" class="item-md">
      <p>Date: <strong>{{workshop.startDate}}</strong></p>
      <p>Coat: {{workshop.cost}}</p>
      <p>Location: {{workshop.location}}</p>
      <p>Duration: {{workshop.duration}}</p> 
    </ion-item>
  </ion-list>
  <ion-list *ngIf="Admin">
    <h4>Salesforce Admin</h4>
    <ion-item *ngFor="let workshop of SalesforceAdmin" (click)="goToDetail(workshop.id)" class="item-md">
      <p>Date: <strong>{{workshop.startDate}}</strong></p>
      <p>Coat: {{workshop.cost}}</p>
      <p>Location: {{workshop.location}}</p>
      <p>Duration: {{workshop.duration}}</p> 
    </ion-item>
  </ion-list>
  <ion-list *ngIf="Developer">
    <h4>Salesforce Developer</h4>
    <ion-item *ngFor="let workshop of SalesforceDeveloper" (click)="goToDetail(workshop.id)" class="item-md">
      <p>Date: <strong>{{workshop.startDate}}</strong></p>
      <p>Coat: {{workshop.cost}}</p>
      <p>Location: {{workshop.location}}</p>
      <p>Duration: {{workshop.duration}}</p> 
    </ion-item>
  </ion-list>
</ion-content>
