<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pletra training
    </ion-title>
    <ion-buttons end>
      <button *ngIf="isAdmin" ion-button (click)="addTraining()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>	
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{filter}}</h2>
  <ion-list *ngIf="workshopData">

    <ion-item *ngFor="let workshop of workshopData" (click)="goToDetail(workshop.id)">
      <p>Date: <strong>{{workshop.startDate}}</strong></p>
      <p>Coat: {{workshop.cost}}</p>
      <p>Location: {{workshop.location}}</p>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!workshopData">
    <ion-item>
    <p>There is no data</p>
    </ion-item>
  </ion-list>
</ion-content>
